{% extends "_base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card text-center w-50">
        <div class="card-header">
        ورود
        </div>
        <div class="card-body">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p}}
                <input type="submit" value="ورود" class="btn btn-success">
            </form>
        </div>
        <div class="card-footer text-body-secondary">
            ...
        </div>
    </div>
</div>
{% endblock  %}