{% extends "_base.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
    {% for item in category %}
    <div class="col-md-6 mb-3">    
        <h2><a href="{% url 'detail_category' category_id=item.id %}" class="btn btn-danger">{{item}}</a></h2>
    </div>
    {% endfor %}
  </div>
{% endblock  %}