{% extends '_base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% for result in results %}
    <h4><a class="text-decoration-none btn btn-danger" href="{% url 'detail_task' result.id %}">{{result}}</a></h4>       
{% endfor %}

{% endblock %}